.body-b1{
	background: red;
	border-bottom: 2px solid blue;
	color: blue;
	font-size: 18px;
}
.body-b2{
	position: relative;
	top: -8px;
}
.body-b3{
	color: blue;
	font-size: 20px;
}
.body-b4{
	display: block;
	background: red;
}
.body-b5{
	display: block;
	width: 170px;
	height: 48px;
	position: absolute;
	left: 0;
	bottom: -48px;
}








